.Login_Container {
  display: flex;
  justify-content: center;
  gap: 6vw;
  margin-top: 15vh;
}

.Login_Header_Container {
  max-width: 400px;
  align-self: center;
}

.Login_Header {
  font-family: 'Klavika-medium';
  font-size: var(--font-xxxl);
  color: var(--blue-300);
  margin-bottom: var(--mg-sm);
}

.Login_Sub_Header {
  font-size: var(--font-xl);
}

.Login_Form {
  display: flex;
  flex: 0;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: var(--pd-sm) var(--pd-m);
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-color: var(--white-300);
  border-radius: var(--board-rad-m);
}

.Login_Form a {
  text-align: center;
}

.Login_Form > button:nth-of-type(2) {
  background-color: var(--green-300);
  align-self: center;
}

.Login_Form > div {
  align-self: center;
}
