.Profile_Header_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 14vw;
  background: linear-gradient(to bottom, #e66465, 1%, white);
}

.Profile_Header_Banner_Container {
  max-height: 450px;
  overflow: hidden;
}

.Profile_Header_Banner {
  width: 1250px;
  aspect-ratio: 16 / 9;
  background-position: 19% 70%;
  border-radius: var(--board-rad-sm);
}

.Profile_Header_Row2 {
  width: 100%;
  display: flex;
}

.Profile_Picture_Container > img {
  position: relative;
  top: -30px;
  width: 168px;
  border-radius: 50%;
}

.Profile_Header_Text {
  display: flex;
  flex-direction: column;
  margin: var(--mg-xl);
  gap: var(--gap-sm);
}

.Profile_Header_Text_Name {
  font-family: 'Klavika-medium';
  font-weight: bold;
  font-size: var(--font-xl);
}

.Profile_Header_Friends_Container {
  display: flex;
}

.Profile_Header_Friends_Container > div:nth-child(2) {
  position: relative;
  left: -10px;
}

.Profile_Header_Friends_Container > div:nth-child(3) {
  position: relative;
  left: -20px;
}
.Profile_Header_Friends_Container > div:nth-child(4) {
  position: relative;
  left: -30px;
}
.Profile_Header_Friends_Container > div:nth-child(5) {
  position: relative;
  left: -40px;
}
.Profile_Header_Friends_Container > div:nth-child(6) {
  position: relative;
  left: -50px;
}
.Profile_Header_Friends_Container > div:nth-child(7) {
  position: relative;
  left: -60px;
}

.Profile_Header_Friends_Container > div:nth-child(8) {
  position: relative;
  left: -70px;
}
