.Comment_Container {
  display: flex;
  padding: var(--pd-sm) var(--pd-m);
  gap: var(--gap-m);
}

.Comment_Left_Column > .NavBubble {
  width: 30px;
}

.Comment_Text_Container {
  background-color: var(--bg-primary);
  padding: var(--pd-sm);
  border-radius: 10px;
}

.Comment_Text_Header {
  font-family: 'Klavika-medium';
}

.Comment_Button_Container {
  display: flex;
  gap: var(--gap-lg);
  padding-left: var(--pd-sm);
}

.Comment_Button_Container > a {
  color: var(--bg-primary);
  filter: brightness(0.5);
  font-family: 'Klavika-medium';
}

.Comment_Button_Container > a:nth-of-type(3) {
  font-family: 'klavika-light';
}
