.Left_Sidebar {
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  padding: var(--pd-sm);
  max-width: 360px;
}

.Left_Sidebar_Link_Container {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  padding: var(--pd-sm);
  border-radius: var(--board-rad-m);
  background-color: var(--bg-primary);
}

.Left_Sidebar_Link_Container:hover {
  cursor: pointer;
  filter: brightness(0.96);
}

.Left_Sidebar_Link_Container > img {
  max-width: 40px;
}

.Left_Sidebar_Link_Container > span {
  font-family: 'Klavika-medium';
}

.Left_Sidebar_Shortcuts_Header {
  font-size: calc(var(--font-xl) - 4px);
  font-family: 'Klavika-medium';
}
