@font-face {
  font-family: 'Klavika-medium';
  src: local('Klavika'),
    url(./fonts/Klavika/klavika-medium.otf) format('opentype');
}
@font-face {
  font-family: 'Klavika-light';
  src: local('Klavika'),
    url(./fonts/Klavika/klavika-light.otf) format('opentype');
}

*,
*::before,
*:after {
  box-sizing: border-box;
  font-family: 'Klavika-light';
}

:root {
  --bg-primary: #eff2f5;
  --blue-300: #1a76f2;
  --green-300: #42b729;
  --white-300: #ffffff;

  /* Margin */
  --mg-xsm: 0.25rem;
  --mg-sm: 0.5rem;
  --mg-m: 1rem;
  --mg-lg: 1.25rem;
  --mg-xl: 1.5rem;

  /* Padding */
  --pd-xsm: 0.25rem;
  --pd-sm: 0.5rem;
  --pd-m: 1rem;
  --pd-lg: 1.25rem;
  --pd-xl: 1.5rem;
  --pd-xxl: 2rem;
  --pd-xxxl: 3rem;

  /* Font size */
  --font-xsm: 0.25rem;
  --font-sm: 0.5rem;
  --font-m: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;
  --font-xxxl: 3rem;

  /* Border radius */
  --board-rad-xsm: 0.25rem;
  --board-rad-sm: 0.5rem;
  --board-rad-m: 1rem;
  --board-rad-lg: 1.25rem;
  --board-rad-xl: 1.5rem;

  /* Gap */
  --gap-xsm: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-m: 1rem;
  --gap-lg: 1.25rem;
  --gap-xl: 1.5rem;

  /* Filter values */
  --filter-blue-300: invert(33%) sepia(81%) saturate(2907%) hue-rotate(204deg)
    brightness(99%) contrast(92%);
}

html,
body {
  margin: 0;
  background-color: var(--bg-primary);
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-300);
}

a:hover {
  text-decoration: underline;
}

hr {
  display: block;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

input {
  padding: var(--pd-m) var(--pd-xl);
  border-radius: var(--board-rad-xsm);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: var(--font-m);
}

input:focus {
  border: 1px solid var(--blue-300);
}

input[placeholder] {
  font-size: var(--font-m);
}

button {
  min-width: 100%;
  padding: var(--pd-m) var(--pd-xl);
  border-radius: var(--board-rad-xsm);
  outline: none;
  border: none;
  background-color: var(--blue-300);
  color: var(--white-300);
  font-size: var(--font-m);
  font-weight: bold;
  transition: filter 150ms linear;
  -webkit-transition: -webkit-filter 150ms linear;
}

button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

img {
  width: 48px;
}

.Main_Content_Container {
  display: grid;
  grid-template: auto / 1fr 2fr 1fr;
}

.Timeline {
  border: 2px dashed red;
  min-height: 90vh;
}

.Right_Sidebar {
  justify-self: end;
}

/* UTILITY CLASSES */
.noPointerEvents {
  pointer-events: none;
}

.filterBlue {
  filter: var(--filter-blue-300);
}

.border_blue {
  border-color: var(--blue-300);
}
