.Comment_Input_Container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--pd-xsm) var(--pd-m);
}

.Comment_Input_Container > input {
  display: flex;
  min-width: 90%;
  background: var(--bg-primary);
  max-height: 20px;
  padding-left: var(--pd-m);
  border-radius: 999px;
  border: none;
}

.Comment_Input_Tooltip {
  position: relative;
  top: -8px;
  left: -6px;
  font-size: 14px;
  padding-left: 11%;
}
